<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./home"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> Home</a>
      <a mat-list-item routerLink="./project"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="book"></mat-icon> Project</a>
      <a mat-list-item routerLink="./settings"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon> Settings</a>
      <a mat-list-item href="#"><mat-icon color="primary" aria-hidden="false" aria-label="Example home icon" fontIcon="logout"></mat-icon> logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-project</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
