<h1 mat-dialog-title>{{inputdata.title}}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput placeholder="first_name">
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="last_name">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button (click)="closepopup()" mat-raised-button color="warn">Close</button>
    <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Cancel</button>

</div>