<h1>{{titlePage}}</h1>
<button (click)="Openpopup()" mat-raised-button color="primary">Add</button>
<table border="1">
    <thead>
        <tr>
            <th *ngFor="let col of columTable">{{col}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of dataProject.data">
            <td>{{data.actor_id}}</td>
            <td>{{data.first_name}}</td>
            <td>{{data.last_name}}</td>
            <td><button button mat-raised-button color="primary">Update</button></td>
            <td><button button mat-raised-button color="primary">Delete</button></td>
        </tr>
    </tbody>
</table>
