table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #91a8e0;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #91a8e0;
  }

  tbody tr:nth-child(even) {
    background-color: #91a8e0;
  }
  
  tbody tr:hover {
    background-color: #96989c;
  }

  h1 {
    text-align: center;
  }


  
  